.game {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 750px) {
  .game {
    flex-direction: row;
    align-items: flex-start;
  }
}
