.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: #453412;
  border: 3px solid #000;
  border-radius: 25px;
  box-shadow: 24;
  outline: 0;
}

.hidden {
  border: none;
}

.generators {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.generators::-webkit-scrollbar {
  display: none;
}

.generatorCard {
  width: 272px;
  margin: 0.5rem;
  padding: 1rem;
  color: #f5f5f4;
  background-color: #1c1917;
  border: 3px solid #000;
  border-radius: 15px;
}

.clickable {
  cursor: pointer;
}

.unbuyable {
  opacity: 0.5;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.cardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cost {
  display: flex;
}

.cps {
  display: block;
}

.cabbageContainer {
  position: relative;
  width: 25px;
  height: 20px
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.options {
  width: 250px;
  display: flex;
  margin: 0.5rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
}

.bottomBar {
  background-color: #1c1917;
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 50px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

@media (min-width: 750px) {
  .container {
    height: 660px;
  }

  .hidden {
    border: 3px solid #000;
  }
}
